.navbar{
    position: fixed !important;
    width: 100%;
    z-index: 1000;
}
.main-body{
    padding-bottom: 48px !important;
}
.carousel-main{
    /* padding-top: 26px !important; */
}
/* img{
    width: 100% !important;
} */
.carousel-item img{
    height: 38rem;
    width: 100%;
    /* height: auto;     */
}
.carousel-caption{
    padding: 20px 0px;
}
.carousel-caption h1{
    font-size: 40px;
    margin-bottom: 8px;
}
.carousel-caption p{
    font-size: 20px;
    margin-bottom: 20px;
}
.btn.btn-primary{
    font-size: 20px;
    padding: 8px 16px;
}
.text-left{
    text-align: left!important;
}
.text-right{
    text-align: right!important;
}
.carousel-indicators{
    margin-bottom: 16px;
}
.card-deck{
    margin-top: 7rem;
}
.round-img{
    border-radius: 50%!important;
    height: 150px;
    width:150px;
    margin: auto;
}
.card{
    margin-bottom: 24px;
    padding: 0px 15px;
    text-align: center;
    border: none !important;
}
.card-body h2{
    margin-bottom: 8px;
    font-size: 30px;
}
.card-body p{
    margin: 0px 12px 16px;
    font-size: 16px;
}
.divider{
    margin: 80px 0px;
}
.featurette{
    padding: 0px 15px;
}
.text-body{
    font-size: 45px;
    margin: 100px 0px 8px !important;
    /* text-align: right !important; */
}
/* .lead{
    font-size: 20px;
    margin: 0px 0px 15px;
} */
.main-img{
    padding: 0px 15px;
}
.footer{
    font: 15px;
    margin: 0px 0px 16px;
}
.right-footer{
    float: right;
}

/* mobile responsive */
@media only screen and (max-width: 767px) {
     .text-center-sm{
         text-align: center;
     }
  }